{% extends 'transaction/base.html' %}

{% block content %}

<div class="center">
  <h1>Приложение "Личные денежные операции".</h1>
  <p>Данное приложение предназначено для учёта и анализа операций доходов и расходов.</p>
  <p>С помощью встроенного предиктора можно делать прогнозы касательно сроков "кассового разрыва"</p>
  <p>и вовремя предпринимать меры по его предотвращению.</p>
  <p>Имеется анализ категорий доходов и расходов в абсолютных среднесрочных и в процентных показателях</p>
  <p>а также вывод информации о средней цене закупки того или иного товара/услуги,</p>
  <p>темпах среднсуточных и среднемесячных расходов и доходов, среднем потреблении товаров/услуг,</p>
  <p>среднем потреблении товаров/услуг.</p>
</div>

{% endblock %}